Options -Indexes

ErrorDocument 403 /MRFSistem/Vista/Error/Error403.php
ErrorDocument 500 /MRFSistem/Vista/Error/Error500.php

<IfModule mod_rewrite.c>
# Activar RewriteEngine
#Options +FollowSymLinks
RewriteEngine on
RewriteBase /MRFSistem/
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^(.*)$ $1.php

</IfModule>